body {
    color: black;
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100%
 }
 
 .header { 
   background-color: grey;
   font-size: 20px;
   width: 99%;
   padding: 10px -5px;
   margin: 2px -5px;
   border: red 5px solid;
   text-align: center;
 }
  
 .offset-box {
    background-color: red;
    text-align: center;
    font-size: 20px;
    width: 25%;
    border-radius: 10px;
    padding: 20px 10px;
    margin-inline-start: 37%;
    margin-top: 10px;
 }
 .input-style-offset {
    text-align: center;
    border-radius: 5px;
    width: 30%;
}

 .input-style {
     text-align: center;
     border-radius: 5px;
     width: 60%;
 }
 
 .input-box {
    background-color: red;
    text-align: center;
    font-size: 20px;
    width: 80%;
    border-radius: 10px;
    padding: 20px 10px;
    margin-inline-start: 10%;
    margin-top: 10px;
    margin-bottom: 10px
 }
 
 .textTwo {
   font-style: italic;
   font-weight: lighter;
 }
  
 .textThree {
   font-style: italic;
   font-weight: condensed;
 }
 
 .footer-style {
   background-color: grey;
   width: 100%;
   padding: 5px 0px;
   margin: 12px 0;
 }
 